# This is Git's per-user configuration file.
# Please adapt and uncomment the following lines:
[core]
	excludesfile = ~/.gitignore_global
	attributesFile = ~/.gitattributes
	# git-delta config
	; pager = delta
	# editor = nvim # set via #VISUAL
	#  If you are using a light terminal theme, then you may prefer:
	# pager = delta --light
	# pager = delta --diff-so-fancy --diff-highlight
	# pager = delta --diff-highlight

# https://difftastic.wilfred.me.uk/git.html
# [diff]
#    external = difft

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
#[mergetool "sourcetree"]
#	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
#	trustExitCode = true
# https://www.grzegorowski.com/using-vim-or-neovim-nvim-as-a-git-mergetool	
[mergetool "nvim"]
  	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Mathu Mounasamy
	email = mmounasamy@gmail.com
[commit]
	template = ~/.stCommitMsg
	verbose = false
# Disabled for git-delata
# 2018-08-31 Mathu: to use diff-so-fancy for git diff
 [pager]
	# diff = diff-so-fancy | less --tabs=1,5 -RFX
	# show = diff-so-fancy | less --tabs=1,5 -RFX
	diff = delta
	log = delta
	reflog = delta
	show = delta
	range-diff = delta
[alias]
# https://stackoverflow.com/questions/1838873/visualizing-branch-topology-in-git/34467298#34467298
	lg = !"git lg1"
	lg1 = !"git lg1-specific --all"
	lg2 = !"git lg2-specific --all"
	lg3 = !"git lg3-specific --all"

	lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

	# https://coderwall.com/p/jhucga/git-the-last-10-branches-you-ve-worked-on
	recent-branches=for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
	recent-branches-mathu = ! git for-each-ref --sort=-committerdate --count=15 --format='%(authorname),%(color:bold yellow)%(refname:short)%(color:reset) (%(color:bold magenta)%(committerdate:relative)%(color:reset)) %(color:cyan)%(objectname:short)%(color:reset) - %(color:dim white)%(contents:subject)%(color:reset)' refs/heads/ | grep ^Mathu | cut -d, -f2-
	recent-branches-date = ! git for-each-ref --sort=-committerdate refs/heads/ --format='%(color: red)%(committerdate:short) %(color: cyan)%(refname:short)' --count 10
	recent-branches-date-remote = ! git for-each-ref --sort=-committerdate refs/remotes/ --format='%(color: red)%(committerdate:short) %(color: cyan)%(refname:short)' --count 25
	# find = log --oneline --name-status -i --grep
	# find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
	find = log --all --pretty=\"format:%Cgreen%H %Cblue%s\n%b%Creset\" --name-status -i --grep
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

# git-delta config (https://github.com/dandavison/delta#using-delta-with-magit)
[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

# git-delta config
[interactive]
    diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
